@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  color: white;
  font-family: "Satoshi", sans-serif;
}

.image-container {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 24px;
}

.image-label {
  border: 1px dashed #505050;
  border-radius: 24px;
}

.image-label:hover,
#image-drag {
  background: rgba(255, 255, 255, 0.02);
  border: 1px dashed #ffffff;
}

.image-instruction {
  font-weight: 700;
  text-align: center;
}

#image-error {
  color: #ff0f00;
}

.image-change {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
}

.image-change:hover {
  background: rgba(255, 255, 255, 0.06);
}

.footer-place {
  padding: 30px 0 10px;
}

.ordinal-bg {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 24px;
  padding: 20px;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: hidden;
}

.range-slider {
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  appearance: none;
  width: 100%;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 0px 3px white;
  cursor: pointer;
}
